{% extends "main/index.html" %}

{% block content %}
<center>
    <div class="introduction">
        <h3>{{ category.name }}</h3>
        {% for quiz in quizes %}
        <a href="/{{quiz.pk}}" join quiz.pk>
            <div class="user-quizzes">
                <div class="text"><br>
                    <h4><b>
                        <center>{{ quiz.name|title }}</center>
                    </b></h4>
                    <br>
                    <h6>{{ quiz.description }}</h6><br>
                    <h6>{{ quiz.author }}</h6><br>
                </div>
            </div>
            <br>
        </a>
        {% endfor %}
    </div>
</center>
{% endblock %}