{% extends "main/index.html" %}
{% block content %}
    <div class="flex-container">
        <div class="quiz">
            {% for quiz in quizs %}
            <a href="/quiz" join quiz.pk>
            <div class="quiz-default">
                <div class="text"><br>
                    <h4><b>{{ quiz.name|title }}</b></h4><br>
                    <h6>{{ quiz.description }}</h6><br>
                    <h6 align="right">{{ quiz.author }}</h6><br><br><br>
                </div>
            </div><br></a>
            {% endfor %}
        </div>
        <div class="category">
            {% for category in categorys %}
            <div class="category-default">
                <h4><b><center>{{ category.name }}</center></b></h4><br>
            </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}