{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: SteelBlue;
}

li {

  float: left;
  color: SteelBlue;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: LightSteelBlue;
}

.Wrapper {
  margin-top: 100px;
 }

 .panel-default {
  margin-left: 50px;
  width: 500px;
  background-color: LightSteelBlue;
 }

</style>
</head>
<body>

<ul>
  <li style="text indent: 50px"><b><a href="/">&nbsp;&nbsp;QUIZ App</a></b></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float: right"><a href="/register">Register</a></li>
  <li style="float: right"><a href="/login">Login</a></li>
</ul>

{% load bootstrap4 %}
{% bootstrap_css %}


<div class="Wrapper">
    {% block content %}{% endblock %}
</div>


    {% for quiz in quizs %}
        <div class="panel-default">
              <h4>{{ quiz.name|title }}</h4><br>
              <li>{{ quiz.description }}</li><br>
              <li>{{ quiz.author }}</li><br><br><br>
        </div><br>
    {% endfor %}


</body>

</html>
