{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: SteelBlue;
}

li {

  float: left;
  color: SteelBlue;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: LightSteelBlue;
}

.Wrapper {
  margin-top: 100px;
 }

 .panel-default {
  margin-left: 100px;
 }

</style>
</head>
<body>

<ul>
  <li style="text indent: 90px"><b><a href="http://127.0.0.1:8000/main/">&nbsp;&nbsp;QUIZ App</a></b></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float: right"><a href="http://127.0.0.1:8000/login/">Login</a></li>
</ul>

{% load bootstrap4 %}
{% bootstrap_css %}


<div class="Wrapper">
    {% block content %}{% endblock %}
</div>
<div class="Wrapper">
    <div class="panel-default">
              {% for quiz in quizs %}
              <h4>{{ quiz.name|title }}</h4><br>
              <li>{{ quiz.description }}</li><br>
              <li>{{ quiz.author }}</li><br><br><br>
              {% endfor %}

    </div>
</div>
</body>

</html>
